<form class="ds-actor-sheet ds-monster-sheet" autocomplete="off">
  {{> actorHeader actor=actor extrafield1="XP"}}

  {{#> actorContent tabs=tabs tabGroup="primary"}}
    <section class="tab active" data-group="primary" data-tab="overview">
      <div class="ds-tab-panel">
        Monster overview content goes here.
      </div>
    </section>

    <section class="tab" data-group="primary" data-tab="abilities">
      <div class="ds-tab-panel">
        Monster abilities content goes here.
      </div>
    </section>

    <section class="tab" data-group="primary" data-tab="tactics">
      <div class="ds-tab-panel">
        Monster tactics content goes here.
      </div>
    </section>
  {{/actorContent}}
</form>
