<form class="ds-actor-sheet ds-ranger-sheet" autocomplete="off">
  {{> actorHeader
    actor=actor
    extrafield1="LV"
    extrafield2="XP"
    subfield1Label="Battle Points:"
    subfield1Value=subfield1Value
    subfield2Label="Recruitment Points:"
    subfield2Value=subfield2Value
  }}

  {{#> actorContent tabs=tabs tabGroup="primary"}}
    <section class="tab active" data-group="primary" data-tab="overview">
      <div class="ds-tab-panel">
        Ranger overview content goes here.
      </div>
    </section>

    <section class="tab" data-group="primary" data-tab="inventory">
      <div class="ds-tab-panel">
        Ranger inventory content goes here.
      </div>
    </section>

    <section class="tab" data-group="primary" data-tab="progression">
      <div class="ds-tab-panel">
        Ranger progression content goes here.
      </div>
    </section>
  {{/actorContent}}
</form>
