<section class="ds-actor-content">
  <nav class="ds-content-tabs tabs" data-group="{{tabGroup}}" aria-label="Actor Content Tabs">
    {{#each tabs}}
      <a
        class="item ds-content-tab {{#if active}}active{{/if}}"
        data-action="activateTab"
        data-tab="{{id}}"
        data-group="{{../tabGroup}}"
        href="#"
      >
        {{label}}
      </a>
    {{/each}}
  </nav>

  <section class="ds-content-body">
    {{> @partial-block}}
  </section>
</section>
